# Database
DATABASE_URL=postgresql://postgres:DCxLoXqEUrJgkWCfAIIfKKXLAkHPoJYx@kodama.proxy.rlwy.net:11308/railway

# JWT
SECRET_KEY=your-super-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Environment
ENVIRONMENT=development

# AWS (for Lambda deployment)
AWS_REGION=ap-south-1
